In [4]:
import pandas as pd
import sklearn 
import joblib

In [6]:
df = pd.read_csv('New_dataset2.csv')

In [7]:
df.head()

                                               title  Label
0  As U.S. budget fight looms, Republicans flip t...      1
1  U.S. military to accept transgender recruits o...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...      1
3  FBI Russia probe helped by Australian diplomat...      1
4  Trump wants Postal Service to charge 'much mor...      1

In [8]:
df.tail()

                                                   title  Label
44893  McPain: John McCain Furious That Iran Treated ...      0
44894  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      0
44895  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...      0
44896  How to Blow $700 Million: Al Jazeera America F...      0
44897  10 U.S. Navy Sailors Held by Iranian Military ...      0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44898 non-null  object
 1   Label   44898 non-null  int64
dtypes: int64(1), object(1)
memory usage: 701.7+ KB

In [10]:
df.dropna()

                                                   title  Label
0      As U.S. budget fight looms, Republicans flip t...      1
1      U.S. military to accept transgender recruits o...      1
2      Senior U.S. Republican senator: 'Let Mr. Muell...      1
3      FBI Russia probe helped by Australian diplomat...      1
4      Trump wants Postal Service to charge 'much mor...      1
...                                                  ...    ...
44893  McPain: John McCain Furious That Iran Treated ...      0
44894  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      0
44895  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...      0
44896  How to Blow $700 Million: Al Jazeera America F...      0
44897  10 U.S. Navy Sailors Held by Iranian Military ...      0

[44898 rows x 2 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44898 non-null  object
 1   Label   44898 non-null  int64
dtypes: int64(1), object(1)
memory usage: 701.7+ KB

In [ ]:
X = df["title"]
Y = df["Label"]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tfidf = TfidfVectorizer(stop_words='english')
x_train_tfidf = tfidf.fit_transform(x_train)
x_test_tfidf = tfidf.transform(x_test)

In [ ]:
# from sklearn.ensemble import RandomForestClassifier

In [ ]:
# rn = RandomForestClassifier()
# model = rn.fit(x_train_tfidf, y_train)

In [ ]:
# pre = model.predict(x_test_tfidf)

In [ ]:
# pre

array([1, 1, 1, ..., 0, 1, 0], dtype=int64)

In [ ]:
# y_test

19603    1
9464     1
19538    1
22909    0
18174    1
        ..
33104    0
31936    0
42335    0
4354     1
25849    0
Name: Label, Length: 8980, dtype: int64

In [ ]:
# from sklearn.metrics import accuracy_score,confusion_matrix,f1_score,recall_score,precision_score
# accuracy = accuracy_score(y_test, pre)

In [ ]:
# print(accuracy)
# print(confusion_matrix(y_test, pre))
# print(f1_score(y_test, pre, average='macro'))
# print(recall_score(y_test, pre, average='macro'))
# print(precision_score(y_test, pre, average='macro'))

0.9438752783964365
[[4401  311]
 [ 193 4075]]
0.9438012140046373
0.9443890292666395
0.9435406240737885

In [ ]:
# text = ["PM Modi Visits Radha Soami Satsang Beas, Meets Dera Head Baba Gurinder Dhillon"]
# text_tfidf = tfidf.transform(text)

In [ ]:
# pred = model.predict(text_tfidf)
# pred

Logistic*******

In [61]:
from sklearn.linear_model import LogisticRegression

In [62]:
log = LogisticRegression(max_iter=500)

In [63]:
model = log.fit(x_train_tfidf, y_train)

In [64]:
pred = model.predict(x_test_tfidf)

In [65]:
pred

array([1, 1, 1, ..., 0, 1, 0], dtype=int64)

In [66]:
y_test

19603    1
9464     1
19538    1
22909    0
18174    1
        ..
33104    0
31936    0
42335    0
4354     1
25849    0
Name: Label, Length: 8980, dtype: int64

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
acu = accuracy_score(y_test, pred)

In [69]:
acu

0.9439866369710468

In [70]:
from sklearn.metrics import confusion_matrix

In [71]:
con = confusion_matrix(y_test, pred)

In [72]:
con

array([[4418,  294],
       [ 209, 4059]], dtype=int64)

In [83]:
text = ["36-year-old son of SAD leader Mohinder Kaypee dies in road accident in Jalandhar"]
text_tfidf = tfidf.transform(text)

In [84]:
pred = model.predict(text_tfidf)
pred

array([1], dtype=int64)

In [85]:
joblib.dump(model,"News_model")

['News_model']

In [86]:
joblib.dump(tfidf,"News_tfidf")

['News_tfidf']